<div class="text-center">
  <h3>Friends</h3>
    <% for friendship in @user.friendships %>
      <br>
      <%= image_tag(friendship.friend.avatar, height: '50', width: '50', class: 'img-circle') %>
      <h4><%= friendship.friend.name %></h4>
      <br>
    <% end %>
</div>

<div class="text-center">
  <h3>Users</h3>
    <% @users.each do |user| %>
          <br>
          <%= image_tag(user.avatar, height: '50', width: '50', class: 'img-circle') %>
          <h4><%= user.name %></h4>
          <br>
    <% end %>
</div>

<% if current_user.facebook.access_token != nil %>
  <div class="text-center">
    <%= image_tag("#{@cover}", height: '500', width: '650') %>
  </div>
<% end %>

<hr>
<div class="text-center">
  <h3>Settings</h3>
</div>
<br><br>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  
<%= devise_error_messages! %>

<div class="container"><!-- container -->

  <div class="row">

    <div class="col-md-8">
        <div class="input-group">
          <span class="input-group-addon" id="basic-addon1">Name</span>
            <%= f.text_field :name, autofocus: true, class: 'form-control' %>
          </div>
          <br>
          <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">Avatar</span>
            <%= f.text_field :avatar, class: 'form-control' %>
          </div>
      </div>

    <div class="col-md-4">
            <%= f.submit "Update my information", class: 'btn btn-info' %>
            <br><br>
            <%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-danger" %>
    </div>

  </div> <!-- ROW 1 -->


</div> <!-- container -->

<% end %> <!-- Form Update -->

<br>
<br>

