<div class="container">
  <div class="row">
  
  <div class="col-xs-6">
    <div class="text-center">
      <div class="jumbotron">
      <h1><span class="label label-success">Friends</span></h1>
        <br><hr id="add_here1">
          <% for friendship in current_user.friendships %>
             <%= render :partial => 'friendships/friendship', :locals => {:friendship => friendship} %>
          <% end %>
          <% for inverse_friendship in current_user.inverse_friendships %>
             <%= render :partial => 'friendships/inverse_friendship', :locals => {:inverse_friendship => inverse_friendship} %>
          <% end %>
      </div>
    </div>
  </div>

  <div class="col-xs-6">
    <div class="text-center">
      <div class="jumbotron">
      <h1><span class="label label-info">Users</span></h1>
      <br><hr id="add_here2">
        <% for user in @users %>
          <%= render :partial => 'friendships/user', :locals => {:user => user} %>
        <% end %>
      </div>
    </div>
  </div>

  </div> <!-- row -->
</div> <!-- container -->

<div class="container">
  <div class="row">
    <div class="text-center">
      <div class="jumbotron">
      <h1><span class="label label-warning">Cover</span></h1>
      <br><hr>
        <%= image_tag("#{@cover}", height: '500', width: '650') %>
      </div>
      </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="jumbotron">
      <div class="text-center">
      <h1><span class="label label-danger">Settings</span></h1>
      <br><hr>        
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>

          <%= devise_error_messages! %>

          <div class="container"><!-- container -->

            <div class="row"><!-- row -->

              <div class="col-md-8">
                    
                    <div class="input-group">
                      <span class="input-group-addon" id="basic-addon1">Name</span>
                      <%= f.text_field :name, class: 'form-control' %>
                    </div>
                    <br>

                    <div class="input-group">
                      <span class="input-group-addon" id="basic-addon1">Avatar</span>
                      <%= f.text_field :avatar, class: 'form-control' %>
                    </div>

                </div>

              <div class="col-md-4">
                      <%= f.submit "Update my information", class: 'btn btn-info' %>
                      <br><br>
                      <%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-danger" %>
              </div>

            </div> <!-- ROW -->

          </div> <!-- Container -->

      <% end %> <!-- FORM -->

      </div> <!-- text-center -->
    </div> <!-- jumbotron -->
  </div> <!-- row -->
</div> <!-- container -->

<br><br>


