<div class="container">
       
      <div class="row">
         <div class="text-center">
            <button type="button" class="btn btn-info" data-toggle="modal" data-target="#mynewpost">
                New Post
            </button>
         </div>
      </div>
   
      <br>
      <br>
   
      <div class="row" id="containme">
          <%= render @posts %>
      </div>
      <!-- /.row  / containme -->

  <!-- Modal -->
      <%= form_for(@post, remote: true) do |f| %>
      <div class="modal fade" id="mynewpost" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button id="mynewpostclose" type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Post</h4>
          </div>
          <div class="modal-body">

          <div class="field">
            <%= f.label :title %><br>
            <%= f.text_area :title, class: "form-control", id: "post_title" %>
          </div>
          <div class="field">
            <%= f.label :content %><br>
            <%= f.text_area :content, class: "form-control", id: "post_content" %>
          </div>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <%= submit_tag "Create", class: "btn btn-primary" %>
          </div>
        </div>
      </div>
      </div>
      <% end %>
  <!-- Modal -->


</div> <!-- Div container -->


